# VS Code settings
.vscode/

# Environment variables
.env
*.env

# Archive
archive/

# DB
*.sqlite
*.sqlite-journal

# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Other
info.md
redirect.html
TODO.md
