# VS Code settings
.vscode/

# Environment variables
.env
*.env

# Archive
archive/

# Database
## Ignore all files in the backup folders
data/.db-backup/*
data/.db-migration-backup/*
## But keep the .gitkeep files to ensure the folders are tracked
!data/.db-backup/.gitkeep
!data/.db-migration-backup/.gitkeep

# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Secrets
secret/

# Dev
dev*
todo*
