# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env
*.env

# OS-specific
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/

# Other
redirect.html
info.md

# Bot's pfp
assets/dbd-exe_bg-uncut.png
assets/dbd-exe_bg.png
assets/dbd-exe_icon.png